#nav-btn {
  text-align: center;
  background-color: rgb(76, 163, 141);
  color: white;
  border-radius: 8px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  padding: 12px;
}

.gc-btn, .gd-btn {
  text-align: center;
  background-color: rgb(76, 163, 141);
  color: white;
  border-radius: 8px;
  text-decoration: none;
  width: 135px;
  max-width: 150px;
  font-size: 12px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  padding: 12px;
}

.gd-btn {
  background-color: rgb(77, 171, 64);
}

#grow .gc-btn {
  width: 160px;
}

#nav-btn:hover, .gc-btn:hover, .gd-btn:hover {
  background-color: orange;
}

@media (hover: none) {
  #nav-btn:hover, .gc-btn:hover {
    background-color: rgb(76, 163, 141) !important;
  }
  .gd-btn:hover {
    background-color: rgb(77, 171, 64) !important;
  }
}
