.cards {
  margin: 0 12rem;
  display: grid;
  row-gap: 4rem;
  grid-template-columns: 50% 50%;
  grid-template-areas: "join join-img"
  "col-img col"
  "grow emma"
  "glass glass"
  "alex alex"
  "info info";
}

#join {
  grid-area: join;
}
#join-img {
  grid-area: join-img;
  width: 96%;
  border-radius: 8px;
}
#col {
  grid-area: col;
}
#col-img {
  grid-area: col-img;
  width: 96%;
  border-radius: 8px;
}
#grow {
  grid-area: grow;
}
#emma {
  grid-area: emma;
  position: relative;
}
#emma div {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  text-align: center;
  width: 46%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  padding-left: 40px;
}
#emma img {
  width: 95%;
  border-radius: 8px;
}
#glass {
  display: grid;
  place-items: center;
  grid-area: glass;
  margin: 6.5rem 0;
  text-align: center;
}
#glass img {
  width: 200px;
}
#gd-logo {
  margin-bottom: 2rem;
}
#glass h2 {
  font-size: 24px;
  margin-bottom: 1rem;
}
#gd-date {
  font-size: 10px;
}
#alex {
  display: flex;
  justify-content: center;
  grid-area: alex;
  width: 100;
}
#alex-container {
  width: 42%;
  position: relative;
}
#alex img {
  border-radius: 8px;
  width: 100%;
}
#alex-text {
  position: absolute;
  padding-left: 1.4rem;
  top: 45%;
  width: 55%;
  transform: translateY(-50%);
  text-align: center;
  font-weight: 800;
}
#alex-text p {
  margin-bottom: 0.5rem;
}
#alex-text p:last-child {
  font-weight: 400;
}
#info {
  grid-area: info;
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 6rem;
}
#info div {
  display: grid;
  place-items: center;
  padding: 64px;
  border-radius: 16px;
  margin: 0 8px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}
.card {
  padding: 37px;
}
